// Variable
$open: 'Open Sans', Arial, sans-serif;

$bg: #eeeeee;
$primary: #00943f;
$secondary: #8b8b8b;
$white-bg: #ffffff;
$text: #4f4f4f;
$separator: #959595;
$blue: #30a7e9;
$yellow: #e6c416;
$grey: #777777;
$grey2: #767676;
$green: #80bf61;
$red: #fa7575;
$red: #d83a3a;
$red2: #de4d4d;
$red3: #fd5959;
$red3: #ea3c3c;
$dark-blue-text: #e1e1e1;
$dark-blue-bg: #000202;
$color-paid: #7fdbff;
$color-sent: #39cccc;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;

$top-bar-height: 64px;
$sidebar-width: 290px;

$border-width: 	2px;
$border-color: 	#ececec;
$form-border-color: #e3e3e3;
